.modal-dialog {
    max-width: 300px;
}

.modal-content {
    height: 300px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.spinner-border {
    width: 6rem;
    height: 6rem;
}

#load-msg {
    font-size: 1.2rem;
}