<div id="nav-container">
  <div id="nav-logo">
    <img src="../../../assets/logo.png" height="60px">
  </div>
  <div id="nav-menu">
    <!-- <nav class="nav nav-pills">
      <a class="nav-item nav-link active align-middle" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Buy</a>
      <a class="nav-item nav-link" href="#">Sell</a>
    </nav> -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active h-100" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h-100" href="#">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h-100" href="#">Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h-100" href="#">Profile</a>
      </li>
    </ul>
  </div>
  
</div>