#page-container {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#landing-carousel {
    // flex-grow: 1;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    background: #5f5f5f;

    .carousel-inner {
        height: 100%;
        width: 60%;
    }
}

.odometer {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 47%;
    font-size: 2rem;
    background: none;

    .odometer-digit {
        color: white;
    }
}

#image1 {
    background-image: url('../../../assets/slides/slide1.jpg');
}
#image2 {
    background-image: url('../../../assets/slides/slide2.jpg');
}
#image3 {
    background-image: url('../../../assets/slides/slide3.jpg');
}
.slide-div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#call-to-action {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin: 0 15px;
        font-size: 2rem;
    }
}