<div id="profile-container">
  <!-- <div id="profile-title" class="display-4">
    Profile
  </div> -->
  <div id="profile-content">
    <div id="profile-details">
      <div id="dp"></div>
      <div id="details-text">
        <div>Name: Burhanuddin Lakdawala</div>
        <div>Balance: 1000</div>
      </div>
    </div>
    <div id="profile-trans">
      <!-- <div class="card"
        *ngFor="let t of transactions; index as i" [ngClass]="generateClassObj(t)" >
        <div class="card-body">
          <h5 class="card-title">{{i+1}}. {{t.item.title}}</h5>
          <p class="card-text">
            {{t.isSeller?'Sold to':'Bought from'}} {{t.otherParty}} on {{t.datetime}}
          </p>
        </div>
      </div> -->

      <div style="padding-bottom: 10px;">
        <div id="transac-title" class="display-4">
          Transactions
        </div>
      </div>

      <div class="accordion" id="profile-trans-accordion" *ngIf="transactions">
        <div class="card" [ngClass]="generateClassObj(transactions[0])">
          <div class="card-header" id="{{'t-heading-'+transactions[0].ID}}">
            <div class="clickable" data-toggle="collapse" attr.data-target="{{'#t-collapse-'+transactions[0].ID}}"
              aria-expanded="true" attr.aria-controls="{{'t-collapse-'+transactions[0].ID}}">
              <h5 class="card-title">1. {{transactions[0].item.title}}</h5>
              <p class="card-text">
                {{transactions[0].isSeller?'Sold to':'Bought from'}} {{transactions[0].otherParty}} on
                {{transactions[0].datetime}}
              </p>
            </div>
          </div>

          <div id="{{'t-collapse-'+transactions[0].ID}}" class="collapse"
            attr.aria-labelledby="{{'t-heading-'+transactions[0].ID}}" data-parent="#profile-trans-accordion">
            <div class="card-body">
              <div>Transaction ID: {{transactions[0].ID}}</div>
              <div>Item ID: {{transactions[0].item.ID}}</div>
              <div>Item Weight: {{transactions[0].item.weight}}</div>
              <div>Item Price: {{transactions[0].item.price}}</div>
              <div>Item Type: {{transactions[0].item.type}}</div>
              <div>Item Path: {{transactions[0].item.path}}</div>
            </div>
          </div>
        </div>

        <ng-container *ngFor="let t of transactions; index as i">
          <div class="card" *ngIf="i>0" [ngClass]="generateClassObj(t)">
            <div class="card-header" id="{{'t-heading-'+t.ID}}">
              <div class="clickable collapsed" data-toggle="collapse" attr.data-target="{{'#t-collapse-'+t.ID}}"
                aria-expanded="false" attr.aria-controls="{{'t-collapse-'+t.ID}}">
                <h5 class="card-title">{{i+1}}. {{t.item.title}}</h5>
                <p class="card-text">
                  {{t.isSeller?'Sold to':'Bought from'}} {{t.otherParty}} on {{t.datetime}}
                </p>
              </div>
            </div>
            <div id="{{'t-collapse-'+t.ID}}" class="collapse" attr.aria-labelledby="{{'t-heading-'+t.ID}}"
              data-parent="#profile-trans-accordion">
              <div class="card-body">
                <div>Transaction ID: {{t.ID}}</div>
                <div>Item ID: {{t.item.ID}}</div>
                <div>Item Weight: {{t.item.weight}}</div>
                <div>Item Price: {{t.item.price}}</div>
                <div>Item Type: {{t.item.type}}</div>
                <div>Item Path: {{t.item.path}}</div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>