#profile-container {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#transac-title {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 3rem;
}

#profile-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#profile-details {
    width: 23%;
    display: flex;
    flex-direction: column;
}

#dp {
    background-image: url("../../../assets/dp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 2;
    background-size: contain;
    background-position: center;
}

#details-text {
    flex-grow: 1;
}

#profile-trans {
    flex-grow: 1;
}