<div id="sell-page-container">
<form name="sell-form">
  <div class="form-group">
    <label for="sell-title">Title</label>
    <input type="text" class="form-control" id="sell-title" name="sell-title" [(ngModel)]="formdata.title">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>

  <div class="form-group">
    <div class="custom-file">
      <!-- <label for="sell-title">Title</label> -->
      <input type="file" class="custom-file-input" id="sell-pic" name="sell-pic" accept=".jpg, .jpeg, .png" (change)="pickImage($event)">
    <label class="custom-file-label" for="sell-pic">{{uploadLabel}}</label>
    </div>
  </div>

  <div class="form-group">
    <select class="custom-select" id="sell-category" name="sell-category" [(ngModel)]="formdata.item_type">
      <option selected [ngValue]="undefined">Category</option>
      <option *ngFor="let cat of ItemType | keyvalue" [ngValue]="cat.value">{{cat.value}}</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="sell-weight">Weight</label>
    <input type="text" class="form-control" id="sell-weight" name="sell-weight" [(ngModel)]="formdata.weight">
  </div>
  
  <div class="form-group">
    <label for="sell-price">Price</label>
    <input type="text" class="form-control" id="sell-price" name="sell-price" [(ngModel)]="formdata.price">
  </div>
  <button type="submit" class="btn btn-primary" (click)="submit()">Post Listing</button>
</form>
</div>