<div id="buy-container">
  <div id="filter-bar">
    <select id="item-category-select" class="custom-select" [(ngModel)]="typeFilter" name="item-category-select">
      <option selected [ngValue]="undefined">Filter by category</option>
      <option *ngFor="let cat of ItemType | keyvalue" [ngValue]="cat.value">{{cat.value}}</option>
    </select>
  </div>
  <div id="listings" *ngIf="items">
    <ng-container *ngFor="let item of items; index as i">
      <div id="card-container" *ngIf="!typeFilter || typeFilter===item.type" style="width: 20%;">
        <div class="card">
          <img src="../../../assets/product.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              {{item.title}}
              <i class="fas" [ngClass]="getCategoryIcon(item.type)"></i>
            </h5>
            <p class="card-text">
              <b>Weight:</b> {{item.weight}}kg
              <br>
              <b>Price:</b> ${{item.price}}
            </p>
            <!-- <p class="card-text">Price: </p> -->
            <p class="card-text"><small class="text-muted">Sold by {{item.ownerName}}</small></p>
          </div>
          <a href="#" class="btn btn-primary">Buy now!</a>
        </div>
        <!-- <div class="card">
        <div class="row no-gutters">
          <div class="col-md-2 listing-image">
            <img src="../../../assets/product.jpg" height="100%" class="card-img" alt="...">
          </div>
          <div class="col-md-9 listing-body">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">
                Weight: {{item.weight}}
                <br>
                Price: {{item.price}}
              </p>
              <p class="card-text"><small class="text-muted">Sold by {{item.ownerName}}</small></p>
            </div>
          </div>
          <div class="col-md-1 listing-end">
            <i class="fas" [ngClass]="getCategoryIcon(item.type)"></i>
            <a href="#" class="btn btn-primary">Buy now!</a>
          </div>
        </div>
      </div> -->
      </div>
    </ng-container>
  </div>
</div>