<div id="buy-container">
  <div id="filter-bar"></div>
  <div id="listings" *ngIf="items">
    <div id="card-container" *ngFor="let item of items; index as i">
    <div class="card" *ngIf="item.forSale">
      <div class="row no-gutters">
        <div class="col-md-2 listing-image">
          <img src="../../../assets/product.jpg" height="100%" class="card-img" alt="...">
        </div>
        <div class="col-md-9 listing-body">
          <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">
              Weight: {{item.weight}}
              <br>
              Price: {{item.price}}
            </p>
            <!-- <p class="card-text">Price: </p> -->
          <p class="card-text"><small class="text-muted">Sold by {{item.ownerName}}</small></p>
          </div>
        </div>
        <div class="col-md-1 listing-end">
          <i class="fas" [ngClass]="getCategoryIcon(item.type)"></i>
          <a href="#" class="btn btn-primary">Buy now!</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>